@use '../../_css/common.scss' as *;

.hero {
  padding-top: calc(var(--base) * 10);

  @include mid-break {
    padding-top: var(--base);
  }
}

.absolute {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 600px;
  z-index: 10;
}

.absolute.mobile {
  display: none;
}

@media (max-width: 768px) {
  .absolute {
    display: none;
  }
}

.title {
  padding-top: calc(var(--base) * 7);
}

.richText {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.links {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  li {
    margin-right: 8px;
  }

  @include mid-break {
    display: block;
    margin-top: var(--base);

    li {
      margin-right: 0;
    }
  }
}

.link {
  @include mid-break {
    width: 100%;
  }
}

.media {
  padding-top: calc(var(--base) * 10);

  img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.block {
  display: block;
}

.rounded-sm {
  border-radius: 0.125rem;
}

.bg-green-700 {
  background-color: #2f855a;
}

.w-4 {
  width: 1rem;
}

.h-4 {
  height: 1rem;
}

.sm\:h-6 {
  @media (min-width: 640px) {
    height: 1.5rem;
  }
}

.xl\:h-12 {
  @media (min-width: 1280px) {
    height: 3rem;
  }
}

.ml-2 {
  margin-left: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
