@use '../../_css/common.scss' as *;

.hero {
  padding-top: calc(var(--base) * 3);

  @include mid-break {
    padding-top: var(--base);
  }
}

.absolute {
  display: flex; /* Mantén la propiedad flex para el layout en PC */
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 600px;
  z-index: 10;
}

.absolute.mobile {
  display: none; /* Ocultar la imagen en dispositivos móviles */
}

@media (max-width: 768px) { /* Ajusta el punto de corte según tus necesidades */
  .absolute {
    display: none; /* Ocultar la imagen en dispositivos móviles */
  }
}

.richText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15% var(--gutter-h);
  width: 100%;
  text-align: center;

}

.links {
  list-style: none;
  padding: 15% var(--gutter-h);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  li {
    margin-right: 8px;
  }

  @include mid-break {
    display: block;
    margin-top: var(--base);

    li {
      margin-right: 0;
    }
  }
}

.link {
  @include mid-break {
    width: 100%;
  }
}

.media {

  img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
}
